// PARTIALS INCLUDING STARTS HERE
@import "_header.scss";
@import "_browser_reset.scss";
@import "_grids.scss";
@import "mixin.scss";

// PARTIALS INCLUDIN ENDS HERE

// HOMEPAGE COMMON STYLING STARTS HERE

*{
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', Arial, sans-serif !important;
}

.big-bold-text{
	font-size: 80px;
    line-height: 96px;
    color: $black;
    font-weight: 800;
}

.small-description{
	font-size: 18px;
	line-height: 24px;
	color: $gray-light;
	font-weight: 200;
	.description-hyperlink{
		color: $gray-light;
	}
}

// HOMEPAGE COMMON STYLING ENDS HERE

// STICKY TO TOP ICON STYLING STARTS HERE

// STICKY TO TOP ICON STYLING ENDS HERE


// INTRO BLOCK STYLING STARTS HERE

.intro-block{
	position: relative;
	height: 80vh;
	overflow: hidden;
	.intro-content{
		position: absolute;
		top: 24%;
		left: 18%;
	}
}

// INTRO BLOCK STYLING ENDS HERE


// WORK BLOCK STYLING STARTS HERE

.work-about{
	margin: 0 auto;
    max-width: 37%;
}

.work-title{
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
	color: $black;
	margin-bottom: 10px;
}
.work-employer{
	font-size: 13px;
	line-height: 15px;
	color: $gray-light;
	font-weight: 400;
	a{
		color: $gray-light;
	}
}
.work-description{
	font-size: 18px;
	line-height: 24px;
	color: $black;
	font-weight: 400;
	margin: 2.8em 0
}
.view-work{
	a{
		display: inline-block;
		background: $black;
		color: $white;
	    font-size: 10px;
    	line-height: 16px;
		font-weight: 800;
		letter-spacing: 3px;
		padding: 15px 25px;
		text-decoration: none;
		border-radius: 999px;
		box-shadow: 0 0 12px rgba(0,0,0,0.25);
		text-transform: uppercase;
		margin-right: 20px;
		&:hover{
			background: $white;
			color: $black;
		}
	}
}
.works{
	width: 100%;
	overflow: hidden;
}

.work-block{
	display: flex;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0;
	opacity: 0;
	box-sizing: border-box;
	.work-snap{
		padding: 0;
		img{
		    max-width:100%;
			max-height:100%;
    		float: right;
		}
	}
}
.sm-hide{
    display: block;
  }
  .md-hide{
    display: block;
  }
  .lg-hide{
    display: none;
  }
  .sm-visible{
    display: none;
  }
  .md-visible{
    display: none;
  }
  .lg-visible{
    display: block;
  }
// WORK BLOCK STYLING ENDS HERE

// Tablets

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.sm-hide{
	    display: block;
	  }
	  .md-hide{
	    display: none;
	  }
	  .lg-hide{
	    display: block;
	  }
	  .sm-visible{
	    display: none;
	  }
	  .md-visible{
	    display: block;
	  }
	  .lg-visible{
	    display: none;
	  }
	.intro-block{
		height: 70vh;
		.intro-content{
			top: 40%;
		    left: 0;
		    padding: 20px;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    transform: translatey(-50%);
		}
	}
	.work-about{
	    max-width: 100%;
	    padding: 1.5em 3em;
	}
}


// Mobile Media 

@media (max-width: 767px){

	.sm-hide{
	    display: none;
	  }
	  .md-hide{
	    display: none;
	  }
	  .lg-hide{
	    display: none;
	  }
	  .sm-visible{
	    display: block;
	  }
	  .lg-visible{
	    display: none;
	  }
	.big-bold-text{
		font-size: 50px;
	    line-height: 60px;
	    margin-top: 1em;
	}

	.small-description{
		font-size: 18px;
		line-height: 28px;
	}

	.work-about{
	    max-width: 100%;
	    padding: 1.5em 20px;
	}

	.intro-block{
		height: 70vh;
		.intro-content{
			top: 0;
		    left: 0;
		    padding: 20px;
		    box-sizing: border-box;
		}
	}

	.work-block{
	    flex-direction: column;
	}

	.work-title{
		font-size: 35px;
		line-height: 46px;
	}
	.work-description{
		line-height: 28px;
		margin: 20px 0;
	}

	.view-work{
		a{
		    font-size: 9px;
	    	line-height: 16px;
			letter-spacing: 2px;
			padding: 10px 15px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
}
