// Colors

$blue:       #36c;
$white:             #fff;
$gray-featherlight: #ececec;
$gray-applelight:   #f1f1f1;
$gray-superlight:   #fcfcfc;
$gray-lightest:     #ddd;
$gray-lighter:      #ccc;
$gray-light:        #777;
$gray:              #555;
$gray-dark:         #333;
$black:             #000;

$red:               #9d261d;
$red-live:          #EA2429;
$yellow:            #ffc40d;

$facebook:          #46609F;
$twitter:           #1da1f2;
$google:            #EEF0F2;
$whatsapp:			    #128C7E;


// Fonts

@mixin Roboto() {
    font-family: 'Roboto', sans-serif;
}
